APP_ENV=development
JWT_SECRET=change-me-please-long-random-string
JWT_ALGO=HS256
JWT_EXPIRE_MINUTES=60
SUPER_ADMIN_EMAIL=georgecoopmsapenda@gmail.com
SUPER_ADMIN_PASSWORD=John16:33
SEED_DEMO_USERS=false
PAPER_TRADING_ONLY=true
LIVE_TRADING_ENABLED=false
CORS_ORIGINS=http://localhost:3000
